body {
    background-color: beige;
}

#p1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#p2 {
    color: green;
    font-family: monospace;
}

#p3 {
    color: orange;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.even {
    color: red;
}